.blog {
  margin-top: 101px;
  width: 100%;
}
.blog h1 {
  text-align: center;
}
.blog-slide {
  margin: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: "";
  align-items: flex-end;
}
.blog-slide .arrow {
  display: flex;
  text-align: left;
  margin-bottom: 31px;
}
.blog-slide .arrow .img1, .blog-slide .arrow .img2 {
  margin-left: 17px;
  width: 30px;
  height: 30px;
  background-color: #ffe6ea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
}
.blog-slide .arrow .img1:hover, .blog-slide .arrow .img2:hover {
  cursor: pointer;
  background-color: #fcc0ca;
}
.blog-slide .arrow .img2 {
  background-color: #E71D36;
  box-shadow: 0px 4px 6px rgba(231, 29, 54, 0.2);
}
.blog-slide .arrow .img2:hover {
  background-color: #fc5266 !important;
}
.blog-slide .slick-slider {
  width: 100%;
}
.blog-slide .slick-slider .slick-list .slick-track .slick-slide {
  width: 50%;
}
.blog-slide .slick-slider .slick-list .slick-track .slick-slide div {
  width: 98%;
}
.blog-slide .slick-slider .slick-list .slick-track .slick-slide div .slide-item {
  border-radius: 23px;
  margin-bottom: 37px;
  display: flex !important;
  align-items: center;
  border: 1px solid black;
}
.blog-slide .slick-slider .slick-list .slick-track .slick-slide div .slide-item img {
  margin: 3% 5% 3% 2%;
}
.blog-slide .slick-slider .slick-list .slick-track .slick-slide div .slide-item:nth-child(1) {
  position: relative;
  background-clip: padding-box;
  border: 2px solid transparent;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.06);
  background-color: #F8FFFE;
}
.blog-slide .slick-slider .slick-list .slick-track .slick-slide div .slide-item:nth-child(1)::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -2px;
  background-image: linear-gradient(to left, #2EC4B6, white);
  border-radius: inherit;
  opacity: 0.5;
}
.blog-slide .slick-slider .slick-list .slick-track .slick-slide div .slide-item:nth-child(1) img {
  border-bottom: 7px solid #2EC4B6;
  border-radius: 12px;
}
.blog-slide .slick-slider .slick-list .slick-track .slick-slide div .slide-item:nth-child(1) .slide-item-text {
  text-align: left;
}
.blog-slide .slick-slider .slick-list .slick-track .slick-slide div .slide-item:nth-child(1) .slide-item-text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  color: #011627;
  margin-bottom: 14px;
}
.blog-slide .slick-slider .slick-list .slick-track .slick-slide div .slide-item:nth-child(1) .slide-item-text h2 {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0;
  color: #011627;
  margin-bottom: 25px;
}
.blog-slide .slick-slider .slick-list .slick-track .slick-slide div .slide-item:nth-child(1) .slide-item-text .content {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #011627;
  margin-bottom: 24px;
}
.blog-slide .slick-slider .slick-list .slick-track .slick-slide div .slide-item:nth-child(1) .slide-item-text .btn-readmore {
  display: flex;
  align-items: center;
  color: #2EC4B6;
}
.blog-slide .slick-slider .slick-list .slick-track .slick-slide div .slide-item:nth-child(1) .slide-item-text .btn-readmore:hover {
  cursor: pointer;
  opacity: 0.7;
}
.blog-slide .slick-slider .slick-list .slick-track .slick-slide div .slide-item:nth-child(2) {
  background-color: #fc5266;
}/*# sourceMappingURL=LayoutOurBlog.css.map */